* {
    font-family: 'K2D', sans-serif;
}

#camp {
    color: sienna;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#stateSearchBtn {
    border-radius: 7px;
    padding: 0;
}

.intro {
    font-size: 4rem;
}

#hero {
    background-image: linear-gradient(to bottom right,rgb(168, 117, 23), rgb(0, 100, 0), rgb(168, 117, 23));
    padding: 10px;
    border-bottom: solid 2px white;
    
}

.bulma {
    margin-left: 20px;
}

.sidebar {
    background-color: tan;
    border-radius: 0%;
}

#section {
    padding: 12px 2px 0 0;
}

.submit {
    width: 100%;
    padding: 10px 0;
    border: solid 2px black;
    font-size: large;
    text-align: center;
    border-radius: 7px;
}

.btn1 {
    width: 100%;
    padding-top: 5px;
    font-weight: bold;
    border: solid 2px black;
    border-top: none;
}

.list li:hover {
    font-weight: bold;
}

.title-top {
     font-size: 5em;
     text-align: center; 
}

.subtitle-top {
     text-align: center;
     font-size: 2em;
}

.btn1{
    min-height: 30px;
}

.sienna {

    border-radius: 0;
    background-image:url(https://cf.ltkcdn.net/camping/images/orig/243208-1600x1030-types-campfires.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* min-height: 10rem; */
}

#parkListContainer {
    display: none;
    opacity: 90%;
}

#weatherDateMax, 
#weatherDateMin, 
#weatherSearchBtn {
    display: none;
}

#rightBar p {
     color: white;    
}

#rightBar {
     min-height: 635px;
     border-radius: 0;
     background-image:url(https://wallpaperset.com/w/full/b/8/0/153395.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     
 }

 #doggo {
      display: none; 
 }

 .is-ancestor {
     height: 100%
 }

 .mainCol {
      height: 100%
 }

 .bottomPage {
     background-color: black;
     color: white;
     padding: 50px;
 }

 .bottomPage a {
     color: orange;
 }

 .bottomPage a:hover {
     font-weight: bold;
     color: green;
 }
